{% extends 'base.html.twig' %}

{% block title %} My new website ! - Equipes {% endblock %}

{% block body %}

    <h1> Vous trouverez ici toutes les équipes de Ligue 1 </h1>

    {% if app.session.get('alert') is defined %}
        <p class="alert"> {{app.session.get('alert')}} </p>
    {% endif %}

    <section class="equipe">
        <table class="table">
            <tr>
                <th> Nom </th>
                <th> Nombre de joueurs </th>
                <th> Ecusson </th>
                <th> Actions </th>
            </tr>
            {% for e in equipe %}
                <tr>
                    <td> {{ e.nom }} </td>
                    <td> {{ e.nbjoueur }} </td>
                    <td> <img src="{{ asset('img/equipe/'~e.ecusson) }}" alt="{{ e.nom }}"> </td>
                    <td>
                        <a href="{{ path('equipeDetails', {team_id: e.id}) }}"> Voir plus </a>
                        <br>
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                            <a href="{{ path('addFav', {team_id: e.id}) }}"> Ajouter aux favoris </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <br><br>

        {# 
        {% verbatim %}
            <div id="app">
                <App />

                <p> Affichage VueJs </p>
                <table class="table">
                    <tr>
                        <th> Nom Equipe </th>
                        <th> Nombre de joueurs </th>
                        <th> Ecusson </th>
                    </tr>
                </table>
            </div>
        {% endverbatim %} 
        #}

    </section>

{% endblock %}