<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="{{ asset('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css') }}" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('css/responsive.css') }}">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="{{ asset('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js') }}" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
            <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </head>

    <header id="header">
        {% block header %}

            <!-- NAVIGATION BAR -->
            <nav>
                <div class="onglets">
                    <ul class="menu">
                        <!-- FINIR LE MENU DEROULANT -->
                        <li> <a href="{{ path('accueil') }}"> Accueil </a> </li>
                        <li> <a href="{{ path('equipe') }}"> Equipes </a> </li>
                        {% if is_granted('ROLE_USER') %}
                            <li> <a href="{{ path('mesfavoris', {user_id: currentUser.id}) }}"> Mes favoris </a> </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li> <a href="{{ path('admin') }}"> Admin </a> </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="buttons">
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                        <a href="{{ path('app_logout') }}">
                            <button class="register"> Déconnexion </button>
                        </a>
                    {% else %}
                        <a href="{{ path('app_login') }}">
                            <button class="login"> J'ai déjà un compte </button>
                        </a>
                        <a href="{{ path('app_register') }}">
                            <button class="register"> S'enregistrer </button>
                        </a>
                    {% endif %}
                </div>
            </nav>
            <!-- END NAVIGATION BAR -->

            <!-- ARROW UP -->
            <div class="btnArrow">
                <img src="{{ asset('img/icons/arrow-icone.svg') }}" alt="arrow-up" class="icon">
            </div>
        {% endblock %}
    </header>

    <body>
        <section class="page">
            {% block body %}{% endblock %}
        </section>
    </body>

    <footer>
        {% block footer %}
            <!-- FOOTER -->
            <p id="copy"> Fiquet Maxime | WebSite's name | &copy2022 </p>
        {% endblock %}
    </footer>

</html>
